.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}


/* common styles  */
.common-bg {}

.common-dark-1 {
    color: #181818;
}

.common-dark-2 {
    color: #474747;
}

.common-dark-3 {
    color: #757575;
}

.common-orange-color {
    color: #FD6E0A;
}

.common-btn {
    background-color: #FD6E0A;
    color: white;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 6%;
    padding: 15px 25px;
    border-radius: 3px;
    border: none;
}

.contact-btn {
    background-color: #fff;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 20px;
}

.header {
    background-color: #FFF8F3;
    height: 754px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    margin-left: 20px;
}

/* nav styles  */
nav {
    display: flex;
    margin: 0px 130px;
    justify-content: space-between;
}

nav ul li,
nav ul a {
    list-style: none;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-title {
    font-size: 35px;
    font-weight: 800;
}

.nav-contact {
    opacity: 100%;
    font-size: 17px;
    font-weight: 400;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-content {
    margin-left: 130px;
    width: 50%;
    margin-bottom: 130px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-subtitle {
    font-size: 35px;
    font-weight: 600;
    line-height: 15px;
}

.banner-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 40px;
}

.banner-description {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
}